* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html {
   scroll-behavior: smooth; 
}

h1 {
    font-family: 'Ubuntu',sans-serif;
}       

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

#my-list {
    display: flex;
    list-style: none;
    gap: 50px;
}

.header-flex {
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

#my-list li a {
    font-family: 'Ubuntu' , sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
    color:  #957554;
    text-decoration: none;
}

#my-list li a:hover {
    color: black;                       
}
 
.first-section {
    background-image:url(Assets/images/image.png) ;
    height:100vh ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 80px ;
}

.first-section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    height: 100%;
    gap: 50px;
}

.main-title {
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    font-weight: 700;
    line-height: 91.92px;
    color: #FFFFFF;
}

.description,
.button,
#footerlist li a,
.footer-text a,
.footer-text p  {
    font-family: 'Ubuntu' , sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
    color: #FFFFFF;
}

.button {
    text-decoration: none;
    background-color: #DFAA5B;
    padding: 25px 133px;
    border-radius: 10px;
}

.secondary-title {
    font-family: 'Ubuntu' , sans-serif;
    font-size: 45px;
    font-weight: 500;
    line-height: 51.71px;
    color: #957554;
    text-align: center;
    margin-bottom: 47px;
}

.rooms-card {
    width: 630px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  

}

.rooms-card > img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.cards-content {
    position: absolute;
    left: 0;
    bottom: 57px;
    display: flex;
    flex-direction: column;
    gap: 19px;
    align-items: center;
    width: 100%;
}

.card-title {
    font-family: 'Ubuntu' , sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 45.96px;
    color: #FFFFFF;
}

.button.button-small {
    padding: 24px 52px 24px 56px;
}


.overlay {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 7.48%, #000000 100%);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.rooms-gallery {
    display: flex;
    gap: 35px;
    flex-wrap: wrap;

}

.second-section {
    margin-bottom: 55px;
}

.contact-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.third-section {
    margin-bottom: 122px;
}

footer {
    background: #111111;
    padding: 51px 0 159px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

#footerlist {
    display: flex;
    flex-direction: column;
    list-style: none;
    gap:27.58px ;
}
  
#footerlist li a {
    font-weight: 400;
    text-decoration: none;
}

#footerlist li a:hover,
.footer-text a:hover {
    color: #DFAA5B;
}

.footer-text a {
     display: block;
     font-weight: 300;
     text-decoration: none;
}

.footer-content img {
    width: 154px;
    height: 126px;
    object-fit:cover ;
}


.news-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 35px;
    grid-template-rows: 500px;
    margin-bottom: 50px;
}

.news-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.news-card-content {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:baseline;
    gap:44px;
}

.news-card-content h3 {
    color:#957554;
    
}


.news-card-content p {
    color:#000000;
    
}

.news-card:nth-child(2n) img {
   order: 1;
}
.news-card:nth-child(2n) .news-card-content {
    align-items: end;
}

 .news-card:nth-child(2n) .news-card-content p {
    text-align: right;
}

.news-card:last-child {
    margin-bottom: 107px;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows:repeat(2, 500px);
    gap:30px;
    margin-bottom: 104px;
}

.gallery-grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
   
}

.gallery-grid img:first-child {
    grid-area: 1/1/2/4;
}


.gallery-grid img:nth-child(2) {
    grid-area: 1/4/2/6;
}

.gallery-grid img:nth-child(3) {
    grid-area: 2/1/3/3;
}

.gallery-grid img:nth-child(4) {
    grid-area: 2/3/3/6;
}

